/*icon, font size*/
$icon_size: 20px;
$font-size: 10px;

/*view size*/
$main-width: 100px;
$main-height: 60px;

/*margin*/
$margin-length: 10px;
$margin-default: 0px;

/*color*/
$main-bg-color: #F8F8F8;
$light-gray-color: #CECECE;
